html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

body {
    padding-top: 5px;
    padding-bottom: 20px;
}

.modal {

    margin-left: 30%;
    margin-right: -15%;
}

.webform label {
    width: 200px;
    vertical-align: top;
    text-align: right;
    float: left
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}



/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}